@model UsuariosViewModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<div class="container">
    <div class="row">
        <div class="col">
            Nombre de Usuario
        </div>
        <div class="col">
            Nombre
        </div>
        <div class="col-md-2">
            Activo
        </div>
    </div>
    @foreach (var usuario in Model.Usuarios)
    {
        <div class="row">
            <div class="col">
                @usuario.NombreUsuario
            </div>
            <div class="col">
                @usuario.Nombre
            </div>
            <div class="col-md-2">
                @{
                    string btnValue = usuario.Activo ? "Desactivar" : "Activar";
                    string activo = usuario.Activo ? "1" : "";
                }
                <button data-activo="@activo" onclick="ChangeUserActivo(this, @usuario.Id)">@btnValue</button>

                @*@Html.CheckBoxFor(u => usuario.Activo, new
                {
                    id = $"chkUserActivo_{usuario.Id}",
                    onchange = $"ChangeUserActivo(this, {usuario.Id})"
                })*@
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script src="@Url.Content("/lib/js/Usuarios.js")"></script>
}